In [1178]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
import locale 
from collections import Counter
from dateutil import parser
import itertools

print(os.listdir("C:/Users/User/Desktop/data/"))

['data.csv', 'log.csv', 'ratings_1.txt', 'ratings_10.txt', 'ratings_2.txt', 'ratings_3.txt', 'ratings_4.txt', 'ratings_5.txt', 'ratings_6.txt', 'ratings_7.txt', 'ratings_8.txt', 'ratings_9.txt', 'sample.csv', 'users.csv']

In [1179]:
data = pd.read_csv('C:/Users/User/Desktop/data/data.csv')
data.head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015

In [9]:
len(data)

1890

# Предобработка датасета

In [1180]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете
data['income']=data.revenue-data.budget
l_months = {1:'Январь', 2:'Февраль', 3:'Март', 4:'Апрель', 5:'Май', 6:'Июнь', 7:'Июль', 8:'Август', 9:'Сентябрь', 10:'Октябрь', 11:'Ноябрь', 12:'Декабрь'}
data["month"]=data.release_date.apply(lambda x:l_months[parser.parse(x).month])

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [1181]:
# тут вводим ваш ответ и добавлем в его список ответов (сейчас для примера стоит "1")
# original_title
max_budget_film=data[data.budget==data.budget.max()].original_title


answer_ls.append(max_budget_film.iloc[0])

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [1182]:
max_runtime_film=data[data.runtime==data.runtime.max()].original_title


answer_ls.append(max_runtime_film.iloc[0])

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [1183]:
min_runtime_film=data[data.runtime==data.runtime.min()].original_title

answer_ls.append(min_runtime_film.iloc[0])

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [1184]:
mean_runtime_film=round(data.runtime.mean())

answer_ls.append(mean_runtime_film)

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [1185]:
median_runtime_film=round(data.runtime.median())

answer_ls.append(median_runtime_film)

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [1186]:
max_revenue_film=data[data.income==data.income.max()].original_title

answer_ls.append(max_revenue_film.iloc[0])

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [1187]:
min_revenue_film=data[data.income==data.income.min()].original_title

answer_ls.append(min_revenue_film.iloc[0])

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [1188]:
revenue_film=data[data.income>0].original_title.count()
answer_ls.append(revenue_film)

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [1189]:
data_2008=data[data.release_year==2008]#['release_year','revenue','budget','original_title']
max_revenue_2008=data_2008[data_2008.income==data_2008.income.max()].original_title

answer_ls.append(max_revenue_2008.iloc[0])

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [1190]:
data_per=data[(data.release_year>=2012)&(data.release_year<=2014)]
min_revenue=data_per[data_per.income==data_per.income.min()].original_title

answer_ls.append(min_revenue.iloc[0])

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [1191]:
ls=[x for l in data.genres.tolist() for x in l.split('|')]

most_common_film=Counter(ls).most_common(1)[0][0]

answer_ls.append(most_common_film)

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [1192]:
ls_rev=[x for l in data[data.income>0].genres.tolist() for x in l.split('|')]
most_common_revenue=Counter(ls_rev).most_common(1)[0][0]

answer_ls.append(most_common_revenue)

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [1193]:
s=data.director.value_counts(ascending=False)

answer_ls.append(s.index[0])

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [1194]:
s_revenue=data[data.income>0].director.value_counts(ascending=False)

answer_ls.append(s_revenue.index[0])

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [1195]:
df_group=data.groupby(['director']).income.sum().sort_values(ascending=False)

answer_ls.append(df_group.index[0])

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [1196]:
list_col=[]

for i in (data.index):
        for a in data.cast[i].split('|'):
            list_col.append([a,data.income[i]])

final=pd.DataFrame(list_col,columns = ['actor', 'income'])
df_group=final.groupby(['actor']).income.sum().sort_values(ascending=False)

answer_ls.append(df_group.index[0])

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [1197]:
data_2012=data[data.release_year==2012]
list_col=[]

for i in (data_2012.index):
        for a in data_2012.cast[i].split('|'):
            list_col.append([a,data_2012.income[i]])

final_2012=pd.DataFrame(list_col,columns = ['actor', 'income'])
df_group=final_2012.groupby(['actor']).income.sum().sort_values(ascending=True)


answer_ls.append(df_group.index[0])

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [1198]:
budget_above_mean=data[data.budget>data.budget.mean()]
list_col=[]

for i in (budget_above_mean.index):
        for a in budget_above_mean.cast[i].split('|'):
            list_col.append([a,budget_above_mean.original_title[i]])

final_actors=pd.DataFrame(list_col,columns = ['actor', 'original_title'])
df_group=final_actors.groupby(['actor']).original_title.count().sort_values(ascending=False)

answer_ls.append(df_group.index[0])

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [1199]:
list_col=[]

for i in (data.index):
        for a in data.cast[i].split('|'):
            for g in data.genres[i].split('|'):
                list_col.append([a,g])

final_actors=pd.DataFrame(list_col,columns = ['actor', 'genres'])
df_group=final_actors[final_actors.actor=='Nicolas Cage'].groupby(['genres']).actor.count().sort_values(ascending=False)

answer_ls.append(df_group.index[0])

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [1200]:
list_col=[]

for i in (data.index):
        for a in data.production_companies[i].split('|'):
            list_col.append([a,data.original_title[i]])

final=pd.DataFrame(list_col,columns = ['production_companies', 'original_title'])
df_group=final.groupby(['production_companies']).original_title.count().sort_values(ascending=False)


answer_ls.append(df_group.index[0])

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [1201]:
data_2015=data[data.release_year==2015]
list_col=[]

for i in (data_2015.index):
        for a in data_2015.production_companies[i].split('|'):
            list_col.append([a,data_2015.original_title[i]])

final=pd.DataFrame(list_col,columns = ['production_companies', 'original_title'])
df_group=final.groupby(['production_companies']).original_title.count().sort_values(ascending=False)

answer_ls.append(df_group.index[0])

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [1202]:
list_col=[]

for i in (data.index):
        for a in data.production_companies[i].split('|'):
            for g in data.genres[i].split('|'):
                if g=='Comedy':
                    list_col.append([a,data.income[i]])
                    
final_actors=pd.DataFrame(list_col,columns = ['production_companies', 'income'])
df_group=final_actors.groupby(['production_companies']).income.sum().sort_values(ascending=False)

answer_ls.append(df_group.index[0])

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [1203]:
data_2012=data[data.release_year==2012]
list_col=[]

for i in (data_2012.index):
        for a in data_2012.production_companies[i].split('|'):
            list_col.append([a,data_2012.income[i]])
list_col
final=pd.DataFrame(list_col,columns = ['production_companies', 'income'])
df_group=final.groupby(['production_companies']).income.sum().sort_values(ascending=False)


answer_ls.append(df_group.index[0])

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [1204]:
list_col=[]

for i in (data.index):
        for a in data.production_companies[i].split('|'):
            if a=='Paramount Pictures':
                list_col.append([data.original_title[i],data.income[i]])

final=pd.DataFrame(list_col,columns = ['original_title', 'income'])
df_group=final.groupby(['original_title']).income.sum().sort_values(ascending=True)


answer_ls.append(df_group.index[0])

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [1205]:
grouped=data.groupby(['release_year']).income.sum().sort_values(ascending=False)

answer_ls.append(grouped.index[0])

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [1206]:
grouped=data[data.production_companies.str.contains("Warner Bros", na=False)].groupby(['release_year']).income.sum().sort_values(ascending=False)


answer_ls.append(grouped.index[0])

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [1207]:
grouped=data.groupby(['month']).original_title.count().sort_values(ascending=False)


answer_ls.append(grouped.index[0])

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [1208]:
summer=data[data.month.isin(['Июнь','Июль','Август'])].original_title.count()
answer_ls.append(summer)

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [1209]:
data_winter=data[data.month.isin(['Декабрь','Январь','Февраль'])]

ls=[a for i in data_winter.index  for a in data_winter.director[i].split('|')]
winter=Counter(ls).most_common(1)[0][0]

answer_ls.append(winter)

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [1210]:
pivot = data.pivot_table(values=['income'],index=['month'],columns=['release_year'],aggfunc='sum')
the_best=pivot.idxmax(axis=0).value_counts().index[0]

answer_ls.append(the_best)

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [1211]:
#провалила, не посчитала в среднем
list_col=[]

for i in (data.index):
        for a in data.production_companies[i].split('|'):
            list_col.append([a,len(data.original_title[i])])

final=pd.DataFrame(list_col,columns = ['production_companies', 'len_film'])
df_group=final.groupby(['production_companies']).len_film.mean().sort_values(ascending=False)


answer_ls.append(df_group.index[0])

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [1212]:
list_col=[]

for i in (data.index):
        for a in data.production_companies[i].split('|'):
            list_col.append([a,len(data.original_title[i].split(' '))])
final=pd.DataFrame(list_col,columns = ['production_companies', 'len_film'])
df_group=final.groupby(['production_companies']).len_film.mean().sort_values(ascending=False)

answer_ls.append(df_group.index[0])

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [1213]:
list_col=[]

for i in (data.index):
        for a in data.production_companies[i].split('|'):
            list_col.extend(data.original_title[i].lower().split())

#len(set(list_col))
answer_ls.append(len(set(list_col)))

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [1214]:
top_1=data[data.vote_average>data.quantile(0.99,numeric_only=True).vote_average].original_title.tolist()

answer_ls.append(top_1)

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [1215]:
list_col=[]

for i in (data.index):
    list_col.extend(x for x in itertools.combinations(data.cast[i].split('|'), 2))

pairs=Counter(list_col).most_common(1)[0][0]

answer_ls.append(pairs)

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [1216]:
list_col=[]
for i in (data.index):
        for a in data.director[i].split('|'):
            if data.income[i]>0:
                s=1
            else:
                s=0
            list_col.append([a,s])

df=pd.DataFrame(list_col,columns = ['director','income'])

total_film=df.groupby(['director']).income.count().sort_values(ascending=False).reset_index()
success_film=df.groupby(['director']).income.sum().sort_values(ascending=False).reset_index()

joined = total_film.merge(success_film, on='director', how='left')
joined.columns=['director','total','success']

joined['percent']=joined['success']/joined['total']
#поскольку таких много, то добавляем выборку только по тем, что есть в задании
f=joined[(joined.percent==joined.percent.max())&joined['director'].isin(['Quentin Tarantino','Steven Soderbergh','Robert Rodriguez','Christopher Nolan','Clint Eastwood'])]


# f.director.iloc[0]
answer_ls.append(f.director.iloc[0])

# Submission

In [1217]:
len(answer_ls)

36

In [1218]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id                                             Answer
0    1                                  The Warrior's Way
1    2                                  Gods and Generals
2    3                                    Winnie the Pooh
3    4                                                110
4    5                                                106
5    6                                             Avatar
6    7                                  The Warrior's Way
7    8                                               1478
8    9                                    The Dark Knight
9   10                                    The Lone Ranger
10  11                                              Drama
11  12                                              Drama
12  13                                  Steven Soderbergh
13  14                                       Ridley Scott
14  15                                      Peter Jackson
15  16                                        Emma Watson
16  17                                      Kirsten Dunst
17  18                                         Matt Damon
18  19                                             Action
19  20                                 Universal Pictures
20  21                                       Warner Bros.
21  22                                 Universal Pictures
22  23                                  Columbia Pictures
23  24                               K-19: The Widowmaker
24  25                                               2015
25  26                                               2014
26  27                                           Сентябрь
27  28                                                450
28  29                                      Peter Jackson
29  30                                               Июнь
30  31                            Four By Two Productions
31  32                            Four By Two Productions
32  33                                               2461
33  34  [Inside Out, Room, Interstellar, Guardians of ...
34  35                   (Daniel Radcliffe, Rupert Grint)
35  36                                  Christopher Nolan